body{
	overflow-x: hidden;
}

a:hover{
	text-decoration: none;
}


.headingline{
	height:1px; 
	color: #999; 
	background: #999;
}

.heading{
	position: relative;
	top: -31px;
	background: #fff;
	padding-left: 2em;
	padding-right:2em;
	font-size: 1em;
}

.heading1{
	background: url('../img/background.png');
	padding-top: 2em;
	color: #fff;
	background-size: contain;
	height: 5em;
}

.heading2{
	background: url('../img/background.png');
	padding-top: 1.5em;
	color: #fff;
	background-size: contain;
	height: 5em;
}

.products{
	/*position: relative;*/
	/*height: 200px;*/
	width: 300px;
	border-radius: 115px;
}

.products-recent{
	width: 300px;
	border-radius: 115px;
}

.productimage {
	border-radius: 10px;
}




.overlay {
    background: -webkit-linear-gradient(white,black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white,black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white,black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white,black); /* Standard syntax */
    /*bottom: 0;*/
    /*left: 0;*/
    opacity: 0.5;
    position: absolute;
    /*right:0;*/
    top:0;
    z-index: 1;
    width: 270px;
    height: 189px;
    text-align: center;
    color: #fff;
	border-radius: 10px;
}

.overlaytext {
	padding-left: 1em;
    position: absolute;
    top:0;
    z-index: 2;
    width: 270px;
    height: 189px;
    text-align: justify;
    color: #fff;
}

.productsection{
	/*margin-left: 1.5em;*/
	margin-right: 0;
	margin-left: 0;
}

/*Center Align Columns*/
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;

}

/*View More Section*/

.view-all{
	color: #FF5722;
	border: 2px solid #CCCCCC;
	border-radius: 10px;
	margin: auto;
	padding: 1em;
	width: 20em;
	cursor: pointer;
}

#package1-hide{
	display: none;
}

#package2-hide{
	display: none;
}


/*Responsive Media Queries*/

@media screen and (max-width: 699px){
    .products {
		/*position: relative;*/
		/*height: 100px;*/
		width: 125px;
		border-radius: 115px;
		margin: 0.5em;
	}

	.col-centered {
		padding: 0;
	}

	.overlay {
		
		width: 125px;
		height: 89px;
		
	}

	.overlaytext {
		
		width: 125px;
		height: 89px;
	}

	.carousel-control {
		display: none;
	}

}

.pro-bar{
	background: #ED1C24;
	width: 5px;
	height: 5px;
	animation-name: probar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 5;
}

@keyframes probar{
	0% {width: 0;}
	100% {width: 100vw;}
}

@-webkit-keyframes probar{
	0% {width: 0;}
	100% {width: 100vw;}
}


